# Byte-compiled / optimized / DLL files
node_modules/
**/pycache/
**/node_modules/
ventasApp/_pycache_/forms.cpython-312.pyc
ventasApp/_pycache_/models.cpython-312.pyc
ventasApp/_pycache_/urls.cpython-312.pyc
ventasApp/_pycache_/views.cpython-312.pyc

pycache/
django_sisventas/pycache/
seguridadApp/pycache/
seguridadApp/migrations/pycache/
ventasApp/pycache/
ventasApp/migrations/pycache/

**/pycache/
**.pyc
*.pyc
pycache/
*.py[cod]
*$py.class


# C extensions
*.so

# Distribution / packaging
.Python
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the…