{% extends 'index.html' %}

{% block content %}
<div class="mx-auto max-w-screen-2xl p-4 md:p-6 2xl:p-10">
    <div class="mb-6 flex flex-col gap-3 sm:flex-row sm:items-center sm:justify-between">
        <h2 class="text-title-md2 font-bold text-black dark:text-white">
            Calculadora Financiera
        </h2>
    </div>

    <div class="rounded-sm border border-stroke bg-white shadow-default dark:border-strokedark dark:bg-boxdark">
        <div class="border-b border-stroke px-6.5 py-4 dark:border-strokedark">
            <h3 class="font-medium text-black dark:text-white">Cálculo de Factores Financieros</h3>
        </div>
        <div class="flex flex-col gap-5.5 p-6.5">
            <form method="POST" action="{% url 'calcular_factores' %}" id="calculoForm">
                {% csrf_token %}

                <!-- Tipo de Cálculo -->
                <div>
                    <label class="mb-3 block text-sm font-medium text-black dark:text-white">
                        Tipo de Cálculo
                    </label>
                    <select id="tipo_calculo" name="tipo_calculo" class="relative z-20 w-full appearance-none rounded border-[1.5px] border-stroke bg-transparent py-3 pl-5 pr-12 outline-none transition focus:border-primary active:border-primary dark:border-form-strokedark dark:bg-form-input dark:text-white dark:focus:border-primary">
                        <option value="frc">Factor de Recuperación de Capital</option>
                        <option value="fas">Factor de Actualización de la Serie</option>
                    </select>
                </div>

                <!-- Select: Tipo de Tasa -->
                <div>
                    <label class="mb-3 block text-sm font-medium text-black dark:text-white">
                        Tipo de Tasa
                    </label>
                    <select id="tipo_tasa" name="tipo_tasa" class="relative z-20 w-full appearance-none rounded border-[1.5px] border-stroke bg-transparent py-3 pl-5 pr-12 outline-none transition focus:border-primary active:border-primary dark:border-form-strokedark dark:bg-form-input dark:text-white dark:focus:border-primary">
                        <option value="diaria">Diaria</option>
                        <option value="semanal">Semanal</option>
                        <option value="mensual">Mensual</option>
                        <option value="trimestral">Trimestral</option>
                        <option value="semestral">Semestral</option>
                        <option value="anual">Anual</option>
                    </select>
                </div>

                <!-- Select: Tipo de Capitalización -->
                <div>
                    <label class="mb-3 block text-sm font-medium text-black dark:text-white">
                        Tipo de Capitalización
                    </label>
                    <select id="tipo_capitalizacion" name="tipo_capitalizacion" class="relative z-20 w-full appearance-none rounded border-[1.5px] border-stroke bg-transparent py-3 pl-5 pr-12 outline-none transition focus:border-primary active:border-primary dark:border-form-strokedark dark:bg-form-input dark:text-white dark:focus:border-primary">
                        <option value="diaria">Diaria</option>
                        <option value="semanal">Semanal</option>
                        <option value="mensual">Mensual</option>
                        <option value="trimestral">Trimestral</option>
                        <option value="semestral">Semestral</option>
                        <option value="anual">Anual</option>
                    </select>
                </div>

                <!-- Campo de Capital (P) -->
                <div>
                    <label class="mb-3 block text-sm font-medium text-black dark:text-white" id="label_capital">
                        Capital (P)
                    </label>
                    <input type="number" name="capital" id="capital" class="w-full rounded-lg border-[1.5px] border-stroke bg-transparent px-5 py-3 font-normal text-black outline-none transition focus:border-primary active:border-primary dark:border-form-strokedark dark:bg-form-input dark:text-white dark:focus:border-primary">
                </div>

                <!-- Campo de Pago Periódico (R) -->
                <div>
                    <label class="mb-3 block text-sm font-medium text-black dark:text-white" id="label_pago_periodico">
                        Pago Periódico (R)
                    </label>
                    <input type="number" name="pago_periodico" id="pago_periodico" class="w-full rounded-lg border-[1.5px] border-stroke bg-transparent px-5 py-3 font-normal text-black outline-none transition focus:border-primary active:border-primary dark:border-form-strokedark dark:bg-form-input dark:text-white dark:focus:border-primary">
                </div>

                <!-- Campo de Periodos (n) y selector de tipo de periodo -->
                <div class="flex items-center space-x-3">
                    <div>
                        <label class="mb-3 block text-sm font-medium text-black dark:text-white">
                            Número de Periodos (n)
                        </label>
                        <input type="number" name="periodos" id="periodos" class="w-full rounded-lg border-[1.5px] border-stroke bg-transparent px-5 py-3 font-normal text-black outline-none transition focus:border-primary active:border-primary dark:border-form-strokedark dark:bg-form-input dark:text-white dark:focus:border-primary">
                    </div>
                    <div>
                        <label class="mb-3 block text-sm font-medium text-black dark:text-white">
                            Tipo de Periodo
                        </label>
                        <select id="tipo_periodo" name="tipo_periodo" class="relative z-20 w-full appearance-none rounded border-[1.5px] border-stroke bg-transparent py-3 pl-5 pr-12 outline-none transition focus:border-primary active:border-primary dark:border-form-strokedark dark:bg-form-input dark:text-white dark:focus:border-primary">
                            <option value="dias">Días</option>
                            <option value="meses">Meses</option>
                            <option value="años">Años</option>
                        </select>
                    </div>
                </div>

                <button type="submit" class="mt-6 inline-flex items-center justify-center rounded-md bg-primary px-10 py-4 text-center font-medium text-white hover:bg-opacity-90">
                    Calcular
                </button>
            </form>

            {% if resultado %}
            <div class="mt-4">
                <h3 class="font-bold text-black dark:text-white">Resultado:</h3>
                <p class="text-lg">{{ resultado }}</p>
            </div>
            {% endif %}
        </div>
    </div>
</div>

<script>
    document.getElementById('tipo_calculo').addEventListener('change', function() {
        const tipoCalculo = this.value;

        const labelCapital = document.getElementById('label_capital');
        const labelPagoPeriodico = document.getElementById('label_pago_periodico');
        const inputCapital = document.getElementById('capital');
        const inputPagoPeriodico = document.getElementById('pago_periodico');

        if (tipoCalculo === 'frc') {
            labelCapital.innerText = "Capital (P)";
            labelPagoPeriodico.innerText = "Resultado (R)";
            inputCapital.disabled = false;
            inputPagoPeriodico.disabled = true;
        } else if (tipoCalculo === 'fas') {
            labelCapital.innerText = "Resultado (P)";
            labelPagoPeriodico.innerText = "Pago Periódico (R)";
            inputCapital.disabled = true;
            inputPagoPeriodico.disabled = false;
        }
    });

    document.getElementById('tipo_calculo').dispatchEvent(new Event('change'));
</script>

{% endblock content %}
