{% extends 'index.html' %}

{% block content %}
<div class="mx-auto max-w-screen-2xl p-4 md:p-6 2xl:p-10">
    <div class="mb-6 flex flex-col gap-3 sm:flex-row sm:items-center sm:justify-between">
        <h2 class="text-title-md2 font-bold text-black dark:text-white">
            RATIOS DE RENDIMIENTO Y NOF
        </h2>
    </div>

    <div class="rounded-sm border border-stroke bg-white shadow-default dark:border-strokedark dark:bg-boxdark">
        <div class="border-b border-stroke px-6.5 py-4 dark:border-strokedark bg-black">
            <h3 class="font-medium text-white dark:text-white ">ANALISIS DE SITUACION FINANCIERA Y ESTADO DE RESULTADOS</h3>
        </div>
        <div class="flex flex-col gap-5.5 p-6.5">
            <form method="POST" action="{% url 'calcular_nof' %}" id="calculoForm">
                {% csrf_token %}
                <div class="flex items-center py-2 gap-8">
                    <div>
                        <div class="border-b">
                            <label class="mb-3 block text-graydark text-lg font-bold dark:text-white text-center">
                            ACTIVOS CORRIENTES      
                            </label>
                        </div>
                        <div class="flex items-center py-2 gap-2">
                            <label class="mb-3 block text-sm font-medium text-black dark:text-white">
                                Efectivo y equivalente de efectivo: 
                            </label>
                            <input type="number" name="efectivo1" value="{{ form.efectivo1.value }}" class="rounded-lg border-[1.5px] border-stroke bg-transparent px-5 py-3 font-normal text-black outline-none transition focus:border-primary active:border-primary dark:border-form-strokedark dark:bg-form-input dark:text-white dark:focus:border-primary" style="width: 140px;">
                            <input type="number" name="efectivo2" value="{{ form.efectivo2.value }}" class="rounded-lg border-[1.5px] border-stroke bg-transparent px-5 py-3 font-normal text-black outline-none transition focus:border-primary active:border-primary dark:border-form-strokedark dark:bg-form-input dark:text-white dark:focus:border-primary" style="width: 140px;">
                        </div>

                        <div class="flex items-center gap-3 py-2">
                            <label class="mb-3 block text-sm font-medium text-black dark:text-white">
                                Cuentas por cobrar comerciales: 
                            </label>
                            <input type="number" name="ccobrar1" value="{{ form.ccobrar1.value }}" class="rounded-lg border-[1.5px] border-stroke bg-transparent px-5 py-3 font-normal text-black outline-none transition focus:border-primary active:border-primary dark:border-form-strokedark dark:bg-form-input dark:text-white dark:focus:border-primary" style="width: 140px;">
                            <input type="number" name="ccobrar2" value="{{ form.ccobrar2.value }}" class="rounded-lg border-[1.5px] border-stroke bg-transparent px-5 py-3 font-normal text-black outline-none transition focus:border-primary active:border-primary dark:border-form-strokedark dark:bg-form-input dark:text-white dark:focus:border-primary" style="width: 140px;">
                        </div>
                    
                        <div class="flex items-center py-2 gap-3" style="gap:160px;">
                            <label class="mb-3 block text-sm font-medium text-black dark:text-white">
                                Existencias: 
                            </label>
                            <div class="flex items-center py-2 gap-3">
                                <input type="number" name="existencias1" value="{{ form.existencias1.value }}" class="rounded-lg border-[1.5px] border-stroke bg-transparent px-5 py-3 font-normal text-black outline-none transition focus:border-primary active:border-primary dark:border-form-strokedark dark:bg-form-input dark:text-white dark:focus:border-primary" style="width: 140px;">
                            <input type="number" name="existencias2" value="{{ form.existencias2.value }}" class="rounded-lg border-[1.5px] border-stroke bg-transparent px-5 py-3 font-normal text-black outline-none transition focus:border-primary active:border-primary dark:border-form-strokedark dark:bg-form-input dark:text-white dark:focus:border-primary" style="width: 140px;">
                            </div>
                        </div>

                        <div class="border-b">
                            <label class="mb-3 block font-bold text-graydark text-lg dark:text-white text-center">
                            ACTIVOS NO CORRIENTES      
                            </label>
                        </div>
                        
                        <div class="flex items-center gap-4 py-2">
                            <label class="mb-3 block text-sm font-medium text-black dark:text-white">
                                Inmueble, maquinaria y equipo: 
                            </label>
                            <input type="number" name="inmueble1" value="{{ form.inmueble1.value }}" class="rounded-lg border-[1.5px] border-stroke bg-transparent px-5 py-3 font-normal text-black outline-none transition focus:border-primary active:border-primary dark:border-form-strokedark dark:bg-form-input dark:text-white dark:focus:border-primary" style="width: 140px;">
                            <input type="number" name="inmueble2" value="{{ form.inmueble2.value }}" class="rounded-lg border-[1.5px] border-stroke bg-transparent px-5 py-3 font-normal text-black outline-none transition focus:border-primary active:border-primary dark:border-form-strokedark dark:bg-form-input dark:text-white dark:focus:border-primary" style="width: 140px;">
                        </div>
                    
                        <div class="flex items-center py-2 gap-3" style="gap:110px;">
                            <label class="mb-3 block text-sm font-medium text-black dark:text-white">
                                Activos intangible: 
                            </label>
                            <div class="flex items-center py-2 gap-3">
                                <input type="number" name="aIntangibles1" value="{{ form.aIntangibles1.value }}" class="rounded-lg border-[1.5px] border-stroke bg-transparent px-5 py-3 font-normal text-black outline-none transition focus:border-primary active:border-primary dark:border-form-strokedark dark:bg-form-input dark:text-white dark:focus:border-primary" style="width: 140px;">
                                <input type="number" name="aIntangibles2" value="{{ form.aIntangibles2.value }}" class="rounded-lg border-[1.5px] border-stroke bg-transparent px-5 py-3 font-normal text-black outline-none transition focus:border-primary active:border-primary dark:border-form-strokedark dark:bg-form-input dark:text-white dark:focus:border-primary" style="width: 140px;">
                            </div>
                        </div>
                        <br><br><br>
                    </div>
                    <div>
                        <div class="border-b">
                            <label class="mb-3 block text-graydark text-lg font-bold dark:text-white text-center">
                            PASIVOS CORRIENTES      
                            </label>
                        </div>
                        <div class="flex items-center py-2 gap-3">
                            <label class="mb-3 block text-sm font-medium text-black dark:text-white">
                                Cuentas por pagar comerciales: 
                            </label>
                            <input type="number" name="cpagar1" value="{{ form.cpagar1.value }}" class="rounded-lg border-[1.5px] border-stroke bg-transparent px-5 py-3 font-normal text-black outline-none transition focus:border-primary active:border-primary dark:border-form-strokedark dark:bg-form-input dark:text-white dark:focus:border-primary" style="width: 140px;">
                            <input type="number" name="cpagar2" value="{{ form.cpagar2.value }}" class="rounded-lg border-[1.5px] border-stroke bg-transparent px-5 py-3 font-normal text-black outline-none transition focus:border-primary active:border-primary dark:border-form-strokedark dark:bg-form-input dark:text-white dark:focus:border-primary" style="width: 140px;">
                        </div>

                        <div class="flex items-center gap-4 py-2" style="gap:60px;">
                            <label class="mb-3 block text-sm font-medium text-black dark:text-white">
                                Obligaciones Financieras: 
                            </label>
                            <div class="flex items-center gap-4 py-2">
                                <input type="number" name="obligaciones1" value="{{ form.obligaciones1.value }}" class="rounded-lg border-[1.5px] border-stroke bg-transparent px-5 py-3 font-normal text-black outline-none transition focus:border-primary active:border-primary dark:border-form-strokedark dark:bg-form-input dark:text-white dark:focus:border-primary" style="width: 140px;">
                            <input type="number" name="obligaciones2" value="{{ form.obligaciones2.value }}" class="rounded-lg border-[1.5px] border-stroke bg-transparent px-5 py-3 font-normal text-black outline-none transition focus:border-primary active:border-primary dark:border-form-strokedark dark:bg-form-input dark:text-white dark:focus:border-primary" style="width: 140px;">
                            </div>
                        </div>
                        
                        <div class="border-b">
                            <label class="mb-3 block text-graydark text-lg font-bold  dark:text-white text-center">
                            PASIVOS NO CORRIENTES      
                            </label>
                        </div>

                        <div class="flex items-center py-2 gap-3" style="gap:60px;">
                            <label class="mb-3 block text-sm font-medium text-black dark:text-white">
                                Obligaciones Financieras: 
                            </label>
                            <div class="flex items-center py-2 gap-3">
                                <input type="number" name="obligacionesF1" value="{{ form.obligacionesF1.value }}" class="rounded-lg border-[1.5px] border-stroke bg-transparent px-5 py-3 font-normal text-black outline-none transition focus:border-primary active:border-primary dark:border-form-strokedark dark:bg-form-input dark:text-white dark:focus:border-primary" style="width: 140px;">
                            <input type="number" name="obligacionesF2" value="{{ form.obligacionesF2.value }}" class="rounded-lg border-[1.5px] border-stroke bg-transparent px-5 py-3 font-normal text-black outline-none transition focus:border-primary active:border-primary dark:border-form-strokedark dark:bg-form-input dark:text-white dark:focus:border-primary" style="width: 140px;">
                            </div>
                        </div>


                        <div class="border-b">
                            <label class="mb-3 block  font-bold text-graydark text-lg dark:text-white text-center">
                            PATRIMONIO     
                            </label>
                        </div>
                        
                        <div class="flex items-center py-2 gap-4" style="gap:180px;">
                            <label class="mb-3 block text-sm font-medium text-black dark:text-white">
                                Capital: 
                            </label>
                            <div class="flex items-center py-2 gap-4">
                                <input type="number" name="capital1" value="{{ form.capital1.value }}" class="rounded-lg border-[1.5px] border-stroke bg-transparent px-5 py-3 font-normal text-black outline-none transition focus:border-primary active:border-primary dark:border-form-strokedark dark:bg-form-input dark:text-white dark:focus:border-primary" style="width: 140px;">
                            <input type="number" name="capital2" value="{{ form.capital2.value }}" class="rounded-lg border-[1.5px] border-stroke bg-transparent px-5 py-3 font-normal text-black outline-none transition focus:border-primary active:border-primary dark:border-form-strokedark dark:bg-form-input dark:text-white dark:focus:border-primary" style="width: 140px;">
                            </div>
                        </div>

                        <div class="flex items-center py-2 gap-3" style="gap:80.5px;">
                            <label class="mb-3 block text-sm font-medium text-black dark:text-white">
                                Resultados Acumulados: 
                            </label>
                            <div class="flex items-center py-2 gap-3">
                                <input type="number" name="resultadosA1" value="{{ form.resultadosA1.value }}" class="rounded-lg border-[1.5px] border-stroke bg-transparent px-5 py-3 font-normal text-black outline-none transition focus:border-primary active:border-primary dark:border-form-strokedark dark:bg-form-input dark:text-white dark:focus:border-primary" style="width: 140px;">
                            <input type="number" name="resultadosA2" value="{{ form.resultadosA2.value }}" class="rounded-lg border-[1.5px] border-stroke bg-transparent px-5 py-3 font-normal text-black outline-none transition focus:border-primary active:border-primary dark:border-form-strokedark dark:bg-form-input dark:text-white dark:focus:border-primary" style="width: 140px;">
                            </div>
                        </div>

                        
                    </div>
                </div>

                <div class="border-b">
                    <label class="mb-3 block text-graydark text-lg font-bold dark:text-white text-center">
                    ESTADO DE RESULTADOS      
                    </label>
                </div>

                <div class="flex items-center py-2 gap-4" style="gap:160px;">
                    <label class="mb-3 block text-sm font-medium text-black dark:text-white">
                        Ventas: 
                    </label>
                    <div class="flex items-center py-2 gap-4">
                        <input type="number" name="ventas1" value="{{ form.ventas1.value }}" class="rounded-lg border-[1.5px] border-stroke bg-transparent px-5 py-3 font-normal text-black outline-none transition focus:border-primary active:border-primary dark:border-form-strokedark dark:bg-form-input dark:text-white dark:focus:border-primary" style="width: 140px;">
                        <input type="number" name="ventas2" value="{{ form.ventas2.value }}" class="rounded-lg border-[1.5px] border-stroke bg-transparent px-5 py-3 font-normal text-black outline-none transition focus:border-primary active:border-primary dark:border-form-strokedark dark:bg-form-input dark:text-white dark:focus:border-primary" style="width: 140px;">
                    </div>
                </div>

                <div class="flex items-center py-2 gap-4" style="gap:160px;">
                    <label class="mb-3 block text-sm font-medium text-black dark:text-white">
                        Costos: 
                    </label>
                    <div class="flex items-center py-2 gap-4">
                        <input type="number" name="costo1" value="{{ form.costo1.value }}" class="rounded-lg border-[1.5px] border-stroke bg-transparent px-5 py-3 font-normal text-black outline-none transition focus:border-primary active:border-primary dark:border-form-strokedark dark:bg-form-input dark:text-white dark:focus:border-primary" style="width: 140px;">
                            <input type="number" name="costo2" value="{{ form.costo2.value }}" class="rounded-lg border-[1.5px] border-stroke bg-transparent px-5 py-3 font-normal text-black outline-none transition focus:border-primary active:border-primary dark:border-form-strokedark dark:bg-form-input dark:text-white dark:focus:border-primary" style="width: 140px;">
                    </div>
                </div>    
                <input type="hidden" id="mostrar_resultado" name="mostrar_resultado" value="False">
                <button id="mostrar_resultado" type="submit" class="mt-6 inline-flex items-center justify-center rounded-md bg-primary px-10  text-center font-medium text-white hover:bg-opacity-90">
                    Calcular
                </button>
            </form>
            
            <div style="min-height: 200px; max-height: 400px; overflow-y: auto;" >
            {% if total_activos1 and total_activos2 and total_pasivos1 and total_pasivos2 and patrimonio1 and patrimonio2 and utilidad1 and utilidad2 %}
                <div class="">
                    <h3 class="font-bold text-black dark:text-white">TOTALES:</h3>
                    <h3 class="font-bold text-black dark:text-white text-right">Total activos: {{ total_activos1 }}  {{ total_activos2 }} </h3>
                    <h3 class="font-bold text-black dark:text-white text-right">Total pasivos: {{ total_pasivos1 }}  {{ total_pasivos2 }}</h3>
                    <h3 class="font-bold text-black dark:text-white text-right">Patrimonio Neto:  {{ patrimonio1 }}  {{ patrimonio2 }}</h3>
                    <h3 class="font-bold text-black dark:text-white text-right">Utilidad Bruta:     {{ utilidad1 }}  {{ utilidad2 }}</h3>
                </div>
            {% endif %}
            </div>
        </div>
    </div>
</div>
{% endblock content %}
